{% extends "head.html" %}

{% block content %}

<div style="padding: 30px; background: rgb(252, 252, 252)">

<h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ようこそ {{user}}</font></font></h1>

<h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">今日のタスク</font></font></h3>

{% for i in range(max) %}
    <div class="card border-primary mb-3" style="max-width: 20rem;">
    <div class="card-header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ヘッダ</font></font></div>
    　<div class="card-body">
        　　<h4 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">タスク名:{{task_title[i][0]}}</font></font></h4>
        <h4 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">期限:{{limit_time[i][0]}}</font></font></h4>
        　<p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{content[i][0]}}</font></font></p>

    </div>
    </div>
{% endfor %}
<form action="/group" method="GET">
	<button type="submit" class="btn btn-info" name="post" value="taskmove"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">グループ追加</font></font></button>
</form>
<br>
<form action="/task-add" method="GET">
	<button type="submit" class="btn btn-info" name="post" value="taskmove"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">タスク追加</font></font></button>
</form>

{% endblock %}
